
body {
    width: 960px;
    margin: auto;
}

header {
    display: inline-block;
    height: 100px;
    width: 960px;
    /* border-bottom: 10px;
    border-style: ;  */
}

header img {
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

#head {
    display: inline-block;
    width: 200px;
}

#delicious {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

#the-best {
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 0px;
}

#icons {
    width: 350px;
    float: right;
}

header li {
    display: inline-block;
    padding: 0px;
}

main {
    width: 960px;
}

main section {
    display: inline-block;
    width: 960px;
}

main section div {
    float: left;   
}

#chocolate-pizza {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px; 
}

main section div h2 {
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 0px;
}

main section p {
    float: right;
}

#chocolate-pizza-img {
    width: 100%;
}

#directions {
    font-family: serif;
}

#lined-paper {
    width: 100%;
}

#multi-column {
    column-count: 2;
    column-fill: auto;
    list-style-position: inside;
    font-family: sans-serif;
}

footer {
    width: 960px;
    height: 200px;
}

#vanessa {
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

#foot {
    display: inline-block;
    width: 500px;
}

 footer h2 {
    font-family: serif;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
 }

 footer div p {
    font-family: serif;
    font-size: 15px;
    margin-top: 0px;
 }

 button{
     float: right;
     margin-top: 40px;
 }

#small-logo {
    display: block;
    margin: 15px auto;
}

#copyright {
    text-align: center;
    font-size: 10px;
    font-family: serif
 }